@font-face{
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Regular.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "HelveticaNeueCyrBold";
  src: url(../fonts/HelveticaNeueCyr-Bold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "HelveticaNeueCyrMedium";
  src: url(../fonts/HelveticaNeueCyr-Medium.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "HelveticaNeueCyrItalic";
  src: url(../fonts/HelveticaNeueCyr-Italic.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Pragmatica";
  src: url(../fonts/Pragmatica-Bold.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}
