:root{
  --text: #404244;
  --text-second: #6c6f71;
  --text-white: #fff;
  --text-fourth: #898d8f;
  --text-fifth: #2c333d;
  --text-sixth: #3b3c3f;
  --text-seven: #494d52;
  --text-eight: #2f3134;
  --text-nine: #2c2f33;
  --text-blue: #2a5e8d;
  --text-gray: #6a6f75;
  --text-dark: #1d1d27
  --text-dark-blue: #003b73;
  --text-form: #adb1b7
  --background-button-blue: #117fe3;
  --background-button-light-blue: #f2f6fc;
  --background-button-dark-blue: #186fd4;
  --background-button-black: #011120;
  --background-button-red: #e52b0e;
  --box-shadow-green: inset 0 1px 3px 0 rgba(27, 150, 101, 0.2);
  --box-shadow-red: inset 0 1px 3px 0 rgba(229, 43, 14, 0.5);
  --box-shadow-gray: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  --border-color: #e6eef6;
  --background-form: #f9fafb;


  --HelveticaNeueCyrBold: "HelveticaNeueCyrBold", sans-serif;
  --HelveticaNeueCyrMedium: "HelveticaNeueCyrMedium", sans-serif;
  --HelveticaNeueCyrItalic: "HelveticaNeueCyrItalic", sans-serif;
  --HelveticaNeueCyrRegulat: "Helvetica", sans-serif;
  --second-family: "Helvetica", sans-serif;
  --third-family: "Pragmatica", sans-serif;
}