.company{
  margin-bottom: 80px;
  &_inner{
    .why{
      margin-bottom: 80px;

      h3{
        font-family: var(--HelveticaNeueCyrBold);
        font-size: 33px;
        line-height: 94%;
        margin-bottom: 57px;
      }

      .box{
        .list{
          display: flex;
          justify-content: space-between;

          li{
            display: flex;
            align-items: flex-start;
            max-width: 332px;

            img{
              margin-right: 18px;
            }

            .block{

              .medium{
                font-family: var(--HelveticaNeueCyrMedium);
                font-size: 20px;
                line-height: 120%;
                margin-bottom: 11px;
                text-wrap: balance;
              }

              .regular{
                font-family: var(--HelveticaNeueCyrRegulat);
                font-size: 15px;
                line-height: 160%;
              }
            }
          }
        }
      }
    }

    .history{

      .title{
        font-family: var(--HelveticaNeueCyrBold);
        font-size: 33px;
        line-height: 94%;
        margin-bottom: 66px;
      }

      &_content{
        

        .box{

          .list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            

            .sublist{
              position: relative;
              border: 3px solid var(--border-color);
              border-radius: 8px;
              padding: 35px 25px;

              .year{
                position: absolute;
                top: -13px;
                left: 28px;
                background: #fff;
                padding: 0 15px;
                font-family: var(--HelveticaNeueCyrBold);
                font-size: 27px;
                line-height: 96%;
                color: var(--background-button-dark-blue);
              }

              .title-medium{
                font-family: var(--HelveticaNeueCyrMedium);
                font-weight: 500;
                font-size: 20px;
                line-height: 130%;
                margin-bottom: 15px;
                color: var(--text-fifth);
              }

              .block{

                .listing{

                  .info{
                    position: relative;
                    padding-left: 10px;

                    span{
                      font-weight: 700;
                      color: black;
                    }
                  }

                  .info:not(:last-child){
                    margin-bottom: 10px;
                  }
                  .info::before{
                    content: "";
                    position: absolute;
                    top: 40%;
                    left: 0;
                    background: red;
                    height: 5px;
                    width: 5px;
                    border-radius: 100%;
                  }
                }
              }
            }

            .last{
              border: 3px solid #186fd4;
              border-radius: 5px;
              padding: 22px 0;
              text-align: center;

              .today{
                margin-bottom: 19px;
              }

              .block1{
                padding: 0 117px;

                .list1{
                  display: grid;
                  grid-template-columns: auto auto;

                  li{
                    display: grid;
                    grid-template-columns: 100%;
                    text-align: left;

                    .meaning{
                      font-family: var(--HelveticaNeueCyrBold);
                      // font-weight: 700;
                      font-size: 24px;
                      line-height: 112%;
                      color: var(--background-button-dark-blue);
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }      
    }
  }
}