.news{

  h1{
    font-family: var(--HelveticaNeueCyrBold);
    font-size: 48px;
    line-height: 112%;
    margin-bottom: 30px;
  }

  .hidden{
    display: none;
  }

  &_cont{
    display: flex;
    gap: 20px;
  }

  &_content{
    
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      grid-auto-flow: dense;
      margin-bottom: 70px;

      .block{
        a{
          img{
            margin-bottom: 17px;
            width: 100%;
          }

          p{
            font-family: var(--HelveticaNeueCyrMedium);
            margin-bottom: 12px;
            font-size: 20px;
            line-height: 130%;
            color: var(--text-fifth);
          }
        }

        p{
          font-family: var(--HelveticaNeueCyrRegulat);
          font-size: 16px;
          line-height: 144%;
        }

        p:not(:last-child){
          margin-bottom: 12px;
        }
      }
    }

    // ul > * {
    //   order: 0;
    // }

    @for $i from 1 through 100 {
    ul > *:nth-child(#{$i}) {
      order: -$i;
    }
  }

  

  .pagination-container{
    display: flex;
    justify-content: center;
    gap: 10px;

    .pagination-button{
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      padding: 19px 24px;
      background: #fff;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

    #prev-button{
      transition: 125ms;

      svg{
        path{
          transition: 125ms;
        }
      }
    }

    #next-button{
      transition: 125ms;

      svg{
        path{
          transition: 125ms;
        }
      }
    }

    #prev-button:hover{
      background: #000;
      color: #fff;

      svg{
        path{
          fill: #fff
        }
      }
    }

    #next-button:hover{
      background: #000;
      color: #fff;

      svg{
        path{
          fill: #fff
        }
      }
    }

    #pagination-numbers{
      display: flex;
      gap: 10px;

      .pagination-number{
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        padding: 19px 24px;
        background: #fff;
        cursor: pointer;
        transition: 125ms;
      
      }

      .pagination-number:hover{
        color: #fff;
        background: #000;
        
      }
      .active{
        background: #000;
        color: #fff;
      }
    }
  }
  }
}